In [1]:
import pandas as pd
df = pd.read_csv("/content/AB_NYC_2019.csv")
print(df)

         id                                              name  host_id  \
0      2539                Clean & quiet apt home by the park     2787
1      2595                             Skylit Midtown Castle     2845
2      3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3      3831                   Cozy Entire Floor of Brownstone     4869
4      5022  Entire Apt: Spacious Studio/Loft by central park     7192
...     ...                                               ...      ...
48901  5441                   Central Manhattan/near Broadway     7989
48902  5803    Lovely Room 1, Garden, Best Area, Legal rental     9744
48903  6021  Wonderful Guest Bedroom in Manhattan for SINGLES    11528
48904  6090                     West Village Nest - Superhost    11975
48905  6848                  Only 2 stops to Manhattan studio    15991

           host_name neighbourhood_group    neighbourhood  latitude  \
0               John            Brooklyn       Kensington  40.64749
1           Jennifer           Manhattan          Midtown  40.75362
2          Elisabeth           Manhattan           Harlem  40.80902
3        LisaRoxanne            Brooklyn     Clinton Hill  40.68514
4              Laura           Manhattan      East Harlem  40.79851
...              ...                 ...              ...       ...
48901           Kate           Manhattan   Hell's Kitchen  40.76076
48902         Laurie            Brooklyn      South Slope  40.66829
48903        Claudio           Manhattan  Upper West Side  40.79826
48904          Alina           Manhattan     West Village  40.73530
48905  Allen & Irina            Brooklyn     Williamsburg  40.70837

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -73.97237     Private room    149               1                  9
1      -73.98377  Entire home/apt    225               1                 45
2      -73.94190     Private room    150               3                  0
3      -73.95976  Entire home/apt     89               1                270
4      -73.94399  Entire home/apt     80              10                  9
...          ...              ...    ...             ...                ...
48901  -73.98867     Private room     85               2                188
48902  -73.98779     Private room     89               4                167
48903  -73.96113     Private room     85               2                113
48904  -74.00525  Entire home/apt    120              90                 27
48905  -73.95352  Entire home/apt    140               2                148

      last_review  reviews_per_month  calculated_host_listings_count  \
0      19-10-2018               0.21                               6
1      21-05-2019               0.38                               2
2             NaN                NaN                               1
3      05-07-2019               4.64                               1
4      19-11-2018               0.10                               1
...           ...                ...                             ...
48901  23-06-2019               1.50                               1
48902  24-06-2019               1.34                               3
48903  05-07-2019               0.91                               1
48904  31-10-2018               0.22                               1
48905  29-06-2019               1.20                               1

       availability_365
0                   365
1                   355
2                   365
3                   194
4                     0
...                 ...
48901                39
48902               314
48903               333
48904                 0
48905                46

[48906 rows x 16 columns]

In [2]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.890600e+04,4.890600e+04,48906.000000,48906.000000,48906.000000,48906.000000,48906.000000,38854.000000,48906.000000,48906.000000
mean,1.901287e+07,6.760480e+07,40.728952,-73.952175,152.711324,7.031612,23.300454,1.373151,7.142702,112.782031
std,1.098557e+07,7.860866e+07,0.054529,0.046154,240.128713,20.512489,44.607175,1.680270,32.948926,131.620370
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.464662e+06,7.809567e+06,40.690100,-73.983080,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967545e+07,3.078463e+07,40.723080,-73.955685,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915085e+07,1.074344e+08,40.763120,-73.936283,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [4]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [7]:
df1 = df.copy()
df1.dropna(axis=1 , inplace=True)

In [8]:
df1.isnull().sum()

id                                0
host_id                           0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [16]:
df2 = df.copy()
df2.drop("last_review",axis=1 , inplace=True)

In [17]:
df2.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [18]:
df2.shape

(48906, 15)

In [19]:
df.shape

(48906, 16)

In [20]:
df3 = df.copy()

In [21]:
mean_value = df3["reviews_per_month"].mean()
df3["reviews_per_month"].fillna(value=mean_value, inplace=True)

In [22]:
df3.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,0.210000,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,0.380000,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,1.373151,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,05-07-2019,4.640000,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19-11-2018,0.100000,1,0

In [23]:
df3.shape

(48906, 16)

In [24]:
df3.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [26]:
df4 = df.copy()
df4["last_review"].fillna(df4["last_review"].value_counts().index[0],inplace=True)

In [27]:
df4.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                           0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [29]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [30]:
df5 = df.copy()
df5['last_review'].fillna(df5['last_review'].value_counts().index[0],inplace=True)
df5['reviews_per_month'].fillna(df5['reviews_per_month'].mean(),inplace=True)

In [31]:
# Advanced Imputation
df6 = df.copy()
df6

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,05-07-2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19-11-2018,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48901,5441,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2,188,23-06-2019,1.50,1,39
48902,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,24-06-2019,1.34,3,314
48903,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,05-07-2019,0.91,1,333
48904,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,31-10-2018,0.22,1,0
48905,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,29-06-2019,1.20,1,46

In [32]:
df6["reviews_per_month"].interpolate(inplace=True)

In [33]:
df6

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,2.51,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,05-07-2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19-11-2018,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48901,5441,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2,188,23-06-2019,1.50,1,39
48902,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,24-06-2019,1.34,3,314
48903,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,05-07-2019,0.91,1,333
48904,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,31-10-2018,0.22,1,0
48905,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,29-06-2019,1.20,1,46